body{
  background-color: #111111;
}

.text {
  font-family: 'Ropa Sans';
  position: absolute;
  width: 226px;
  height: 57px;
  left: 12px;
  top: 3px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 103%;
  /* or 49px */

  letter-spacing: 0.36em;

  color: #FFFFFF;
}
.text-block{
  position: absolute;
  width: 205px;
  height: 54px;
  left: 644px;
  top: 38px;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.text1{
  position: absolute;
  width: 71px;
  height: 13px;
  left: 550px;
  top: 25px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 103%;


  letter-spacing: 0.065em;

  color: #FFFFFF;
}

.text2{
  position: absolute;
  width: 28px;
  height: 13px;
  left: 750px;
  top: 25px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 103%;
  /* or 13px */

  letter-spacing: 0.065em;

  color: #FFFFFF;
}
.img{
  position: absolute;
  width: 20px;
  height: 18px;
  left: 53px;
  top: 63px;

}
.hr{
  position: absolute;
  width: 1516px;
  height: 0px;
  left: 0px;
  top: 133.5px;

  border: 1px solid #FFFFFF;
}
.img1{
  position: absolute;
  width: 1060px;
  height: 455px;
  left: 235px;
  top: 200px;

  background: url(https://cdn3.worldpng.ru/uploads/2020/10/13/bc9f66d730f773c9bdcd3c78a46a247e-full.jpg);
}
.text3{
  position: absolute;
  width: 330px;
  height: 84px;
  left: -55px;
  top: 356px;

  background: rgba(188, 188, 188, 0.88);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 135px;

}
.text4{
  position: absolute;
  width: 500px;
  height: 47px;
  left: -35px;
  top: 375px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 103%;

  letter-spacing: 0.065em;

  color: #FFFFFF;
}
.rect{
  position: absolute;
  width: 1523px;
  height: 262px;
  left: -650px;
  top: 763px;

  background: #333333;
}
.text5{
  position: absolute;
  width: 606px;
  height: 47px;
  left: -180px;
  top: 870px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 103%;
  /* or 47px */

  letter-spacing: 0.065em;

  color: #FFFFFF;
}
.hr1 {
  position: absolute;
  width: 1516px;
  height: 0px;
  left: -646px;
  top: 1131px;
}
.rect2{
  position: absolute;
  width: 342px;
  height: 80px;
  left: -55px;
  top: 1100px;

  background: #6C6C6C;
  border-radius: 115px;
}
.text6{
  position: absolute;
  width: 500px;
  height: 47px;
  left: -17px;
  top: 1118px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 103%;
  /* or 47px */

  letter-spacing: 0.065em;

  color: #000000;

}
.hr2{
  position: absolute;
  width: 1516px;
  height: 0px;
  left: -646px;
  top: 2048px;

}
.rect3{
  position: absolute;
  width: 342px;
  height: 80px;
  left: -55px;
  top: 2014px;

  background: #6C6C6C;
  border-radius: 115px;
}
.text7{
  position: absolute;
  width: 500px;
  height: 57px;
  left: 22px;
  top: 2033px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 103%;
  /* or 47px */

  letter-spacing: 0.065em;
}