body{
  background-color: #111111;
}

.text {
  font-family: 'Ropa Sans';
  position: absolute;
  width: 226px;
  height: 57px;
  left: 12px;
  top: 3px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 103%;
  /* or 49px */

  letter-spacing: 0.36em;

  color: #FFFFFF;
}
.text-block{
  position: absolute;
  width: 205px;
  height: 54px;
  left: 644px;
  top: 38px;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
}
.text1{
  position: absolute;
  width: 71px;
  height: 13px;
  left: 600px;
  top: 25px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 103%;
  /* or 13px */

  letter-spacing: 0.065em;

  color: #FFFFFF;
}
.text2{
  position: absolute;
  width: 28px;
  height: 13px;
  left: 800px;
  top: 25px;

  font-family: Ropa Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 103%;
  /* or 13px */

  letter-spacing: 0.065em;

  color: #FFFFFF;
}
.img{
  position: absolute;
  width: 20px;
  height: 18px;
  left: 53px;
  top: 63px;

}
.hr{
  position: absolute;
  width: 1534px;
  height: 0px;
  left: 0px;
  top: 133.5px;

  border: 1px solid #FFFFFF;
}